.modal__submit {
  width: 360px;
  height: 64px;
  border-radius: 35px;
  background: rgba(47, 113, 229, 1);
  border: none;
  justify-content: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto", Arial, sans-serif;
}

.modal__alt-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.modal__alt-button {
  background-color: transparent;
  border: none;
  color: rgba(47, 113, 229, 1);
}

.modal__submit-container {
  display: flex;
  justify-content: center;
}
