.modal__submit {
  width: 360px;
  height: 64px;
  border-radius: 35px;
  background: rgba(47, 113, 229, 1);
  border: none;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto", Arial, sans-serif;
}
