.navigation__logo-text {
  width: 200px;
  height: 24px;
  top: 30px;
  left: 104px;
  gap: 0px;
  font-family: "Roboto-Slab";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  padding: 30px 0 0 104px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.navigation__logo-link {
  text-decoration: none;
}

.navigation {
  height: 80px;
  border-bottom: rgba(255, 255, 255, 0.2) solid;
  display: flex;
  justify-content: space-between;
}

.navigation__line {
  width: 100%;
}

.navigation__button-container {
  display: flex;
  gap: 42px;
  align-items: center;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 104px;
}

.navigation__button-home {
  width: 68px;
  height: 76px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.navigation__button-home {
  border-bottom: 3px solid;
}

.navigation__button-logout {
  border: 1px solid white;
  background-color: transparent;
  width: 176px;
  height: 48px;
  border-radius: 48px;
  cursor: pointer;
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.navigation__button-logout-userName {
  display: inline-flex;
  margin: auto 10px;
}

.navigation__button-saved-news {
  width: 120px;
  height: 76px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

.navigation__button-signin {
  border: 1px solid white;
  background-color: transparent;
  width: 176px;
  height: 48px;
  border-radius: 48px;
  cursor: pointer;
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.navigation__button_menu {
  background: transparent url(../../assets/images/mobile_menu_icon.svg);
  display: block;
  background-size: cover;
  position: absolute;
  top: 18px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

.navigation__button_menu_black {
  background: transparent url(../../assets/images/mobile_menu_iconBlack.svg);
}

.navigation__logo-text_black {
  color: black;
  padding: 30px 0 0 0;
}

.navigation__button-home_black {
  color: black;
  border-bottom: none;
  opacity: 0.5;
}

.navigation__button-saved-news_black {
  color: black;
  border-bottom: 3px solid;
  opacity: 1;
}

.navigation__button-logout_black {
  color: black;
  border: 1px rgba(0, 0, 0, 0.2) solid;
}

.navigation_black {
  height: 80px;
  border-bottom: rgba(0, 0, 0, 0.2) solid;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-device-width: 346px) and (max-device-width: 768px) {
  .navigation {
    height: 66px;
    justify-content: space-around;
  }

  .navigation__logo-text {
    padding: 22px 0 0 0;
  }

  .navigation__button-home {
    height: 66px;
  }

  .navigation__button-signin {
    width: 152px;
    height: 40px;
    font-size: 16px;
  }

  .navigation__button-container {
    font-size: 16px;
    padding-right: 10px;
    gap: 0px;
  }

  .navigation__button-saved-news {
    height: 68px;
  }
}

@media screen and (max-width: 345px) {
  .navigation {
    align-items: center;
    height: 56px;
  }
  .navigation__button-container {
    visibility: hidden;
    display: none;
  }

  .navigation__logo-text {
    width: 117px;
    height: 24px;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 0 0 0 16px;
    margin: 0;
  }

  .navigation__logo-text_black {
    color: black;
    padding: 0;
  }
}
