.navigation__logo-text {
  width: 200px;
  height: 24px;
  top: 30px;
  left: 104px;
  gap: 0px;
  font-family: "Roboto-Slab";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  padding: 30px 0 0 104px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.navigation__logo-link {
  text-decoration: none;
}

.navigation {
  height: 80px;
  border-bottom: rgba(255, 255, 255, 0.2) solid;
  display: flex;
  justify-content: space-between;
}

.navigation__line {
  width: 100%;
}

.navigation__button-container {
  display: flex;
  gap: 42px;
  align-items: center;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 104px;
}

.navigation__button-home {
  width: 68px;
  height: 76px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.navigation__button-home {
  border-bottom: 3px solid;
}

.navigation__button-signin {
  border: 1px solid white;
  background-color: transparent;
  width: 176px;
  height: 48px;
  border-radius: 48px;
  cursor: pointer;
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.navigation__button_menu {
  background: transparent url(../../assets/images/mobile_menu_icon.svg);
  display: block;
  background-size: cover;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}
@media screen and (min-device-width: 360px) and (max-device-width: 768px) {
}

@media screen and (max-device-width: 360px) {
  .navigation {
    align-items: center;
    height: 56px;
  }
  .navigation__button-container {
    visibility: hidden;
  }

  .navigation__logo-text {
    width: 117px;
    height: 24px;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 0 0 0 16px;
    margin: 0;
  }
}
