.preloader {
  width: 1440px;
  height: 282px;
  align-content: center;
  justify-content: center;
}

.circle-preloader {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: spin 0.75s infinite linear;
}

.preloader__text {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #b6bcbf;
  text-align: center;
  margin: 24px 0 0 0;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 345px) {
  .preloader {
    height: 282px;
    max-width: 270px;
  }
}

@media screen and (min-device-width: 346px) and (max-device-width: 768px) {
  .preloader {
    max-width: 650px;
    height: 282px;
  }
}
