.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 104px;
  background-color: white;
}

.footer__nav {
  display: flex;
}

.footer__list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  display: flex;
  align-items: center;
}

.footer__text {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #b6bcbf;
}

.footer__button {
  background-color: transparent;
  color: black;
  border: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

@media screen and (min-device-width: 362px) and (max-device-width: 768px) {
  .footer {
    padding: 24px 40px;
  }

  .footer__list {
    gap: 16px;
  }
}

@media screen and (max-device-width: 360px) {
  .footer {
    padding: 20px 16px 22px;
    flex-direction: column-reverse;
  }

  .footer__links {
    width: 100%;
    justify-content: space-between;
  }

  .footer__text {
    margin: 40px 0 0 0;
  }

  .footer__list {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer__list-item {
    margin-bottom: 24px;
  }
}
