@media screen and (max-device-width: 360px) {
  .modal__type_registerModal {
    align-items: flex-end;
  }

  .modal__content_type_registerModal {
    border-radius: 20px 20px 0 0;
  }

  .modal__close_type_registerModal {
    right: 0;
    width: 24px;
    height: 24px;
    top: -25px;
    opacity: 0.8;
  }
}
